.App {
  text-align: center;
}
.button-app {
  height: 20px;
  width: 120px;
  background-color:darkturquoise;
  border: none;
  margin: 5px;
}
.reset {
  background-color: deeppink;
  color: white;
}